{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}
{% block menu %}
    {% include "menu.html" %}
{% endblock %}
{% block contenido %}
    <br>
    <h3 class="text-center">Bienvenidos </h3>
    <br>
    <p>Aquí podrás tener un control total sobre tus productos y sus existencias. Con esta herramienta podrás realizar un seguimiento completo de tus productos y asegurarte de que siempre tengas suficiente cantidad para satisfacer la demanda de tus clientes.

        Con esta página de inventario, podrás agregar fácilmente nuevos productos y actualizar sus detalles, como la descripción, el precio y las existencias disponibles. También puedes realizar un seguimiento de las ventas y el inventario actualizado en tiempo real.</p>
{% endblock %}
{% block pie_pagina %}
    {% include "pie_pagina.html" %}
{% endblock %}