<div class="container-fluid">
    <a class="navbar-brand" href="/inicioAsistente/">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" style="font-size: 23px;" href="/vistagestionarDevolutivo/">Gestionar Elementos</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" style="font-size: 23px;" href="/vistaGestionarMaterial/">Gestionar Material</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" style="font-size: 23px;" href="/vistaRegistrarEntradaMaterial/">Entrada Material</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" style="font-size: 24px" href="/cerrarSesion/">Salir</a>
            </li>
        </ul>
    </div>
</div>