{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}
{% block menu %}
    {% include "administrador/menuAdmin.html" %}
{% endblock %}
{% block contenido %}
<div class="w-75" style="margin: 0 auto;">
    <div>
        <h1 class="text-center">GESTIONAR ELEMENTOS DEVOLUTIVOS</h1>
    </div>
    <br>
    <a href="/vistaRegistrarDevolutivo/"><button class="btn btn-outline-success" style="margin-left: 125px;">Agregar</button></a>
    <br>
    <br>
    <table class="table table-bordered w-75" style="margin: 0 auto" id="tblElementosDevolutivos" name="tblElementosDevolutivos">
        <thead class="bg-danger text-white fw-bold">
            <tr>
                <th>Codigo Propio</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Foto</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for dev in listaElementosDevolutivos%}
            <tr>
                    <td>{{dev.devElemento.eleCodigo}}</td>
                    <td>{{dev.devElemento.eleNombre}}</td>
                    <td>{{dev.devDescripcion}}</td>
                    <td class="text-center">{{dev.devElemento.eleTipo}}</td>
                    <td class="text-center">{{dev.devElemento.eleEstado}}</td>
                    <td class="text-center"> 
                        <img src="../../media/{{dev.devFoto}}" width="50" height="50" alt="">
                    </td>
                        <td class="text-center" style="font-size: 4vh;">
                            <a href="/consultarDevolutivo/{{dev.devElemento.id}}/{{dev.devUbicacion.id}}/{{dev.id}}">
                                <i class="fa fa-edit text-warning"></i>
                            </a>
                        </td>
                {% comment %} {% endif %} {% endcomment %}
            </tr>
            {% endfor %}
        </tbody>
    </table>  
</div>
<div>
    {% if mensaje %}
        <script>
            Swal.fire("Gestion devolutivo",'{{mensaje}}',"info")
        </script>
    {% endif %}
    <script>
        cargarDataTable($("#tblElementosDevolutivos"), "Elementos Devolutivos",5)
    </script>
</div>
{% endblock %}
{% block pie_pagina %}
    {% include "pie_pagina.html" %}
{% endblock %}