{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}
{% block menu %}
    {% include "administrador/menuAdmin.html" %}
{% endblock %}
{% block contenido %}
    <br>
     <h2>¡Bienvenido al módulo de administrador!</h2>
        <br><br>
        <h5>Estimado {{ usuario.first_name }} {{ usuario.last_name}},</h5> 
        <br><br>
        <p>Nos complace darte la bienvenida al módulo de administrador, donde podrás gestionar y supervisar de manera eficiente nuestro sistema. Tu rol es crucial para garantizar un funcionamiento óptimo y satisfacer las necesidades de nuestra organización.
        Como administrador, tendrás acceso a herramientas poderosas y privilegios adicionales que te permitirán llevar a cabo diversas tareas. Podrás gestionar usuarios, configurar el sistema de acuerdo con nuestras necesidades, supervisar el rendimiento, generar informes detallados y brindar soporte técnico a nuestros usuarios.
        Nos enorgullece contar con tu experiencia y dedicación para mantener nuestro sistema funcionando sin problemas. Tu contribución es fundamental para mantener altos estándares de calidad y eficiencia.
        No dudes en explorar las funcionalidades del módulo de administrador y, si necesitas ayuda o tienes alguna pregunta, nuestro equipo de soporte estará encantado de asistirte en todo momento. Estamos comprometidos en proporcionarte todas las herramientas y recursos necesarios para que realices tu labor de manera exitosa.
        <br><br>
        ¡Gracias por tu compromiso y bienvenido nuevamente al módulo de administrador!
{% endblock %}
{% block pie_pagina %}
{% include "pie_Pagina.html" %}
{% endblock %}
