{% extends "administrador/indexAdmin.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{% endblock %}
{% block menu %}
{% include "administrador/menuAdmin.html" %}
{% endblock %}
{% block contenido %}
<div class="w-50 mt-3" style="margin: 0 auto;">
    <form id="frmProducto" action="/registrarDevolutivo/" method="post" enctype="multipart/form-data" class="was-validated">
        {% csrf_token %}
        <div>
            <h3 class="text-center">REGISTRAR ELEMENTOS DEVOLUTIVOS</h3>
            <br>
        </div>
        <div class="form-floating">
            <select class="form-select" name="cbTipoEle" id="cbTipoEle"  required>
                <option value="0">Seleccione</option>
                {% for tipo in tipoElemento %}
                    <option value="{{tipo.0}}">{{tipo.1}}</option>

                {% endfor %}
            </select>
            <label for="cbElemento">Tipo de Elemento</label>
            <br>
        </div>
        <div class="form-floating">
            <input type="Date" name="txtFechaSena" id="txtFechaSena" class="form-control" required>
            <label for="txtFechaSena">Fecha Inventario SENA: </label>
            <br>
        </div>
        <div class="form-floating">
            <input type="text" name="txtPlacaSena" id="txtPlacaSena" class="form-control" required>
            <label for="txtPlacaSena">Placa Sena </label>
            <br>
        </div>
        <div class="form-floating">
            <input type="text" name="txtSerial" id="txtSerial" class="form-control">
            <label for="txtSerial">Serial </label>
            <br>
        </div>
        <div class="form-floating">
            <input type="text" name="txtMarca" id="txtMarca" class="form-control">
            <label for="txtMarca">Marca </label>
            <br>
        </div>
        <div class="form-floating">
            <input type="text" name="txtValor" id="txtValor" class="form-control" required>
            <label for="txtValor">Valor Unitario</label>
            <br>
        </div>
        <div class="form-floating">
            <select class="form-select" name="cbEstado" id="cbEstado"  required>
                <option value="0">Seleccione</option>
                {% for tipo in estados %}
                    <option value="{{tipo.0}}">{{tipo.1}}</option>

                {% endfor %}
            </select>
            <label for="cbEstado">Deposito</label>
            <br>
        </div>
        <div class="form-floating">
            <input type="text" name="txtNombre" id="txtNombre" class="form-control" required>
            <label for="txtNombre">Nombre </label>
            <br>
        </div>
        <div class="form-floating">
            <textarea name="txtDescripcion" id="txtDescripcion" cols="30" rows="10"></textarea>
            <label for="txtDescripcion">Descripcion </label>
            <br>
        </div>
        <div>
            <h3 class="text-center">UBICACION</h3>
        </div>
        <div class="form-floating">
            <select class="form-select" name="cbDeposito" id="cbDeposito"  required>
                <option value="0">Seleccione</option>
                {% for depo in deos %}
                    <option value="{{depo.0}}">{{depo.1}}</option>

                {% endfor %}
            </select>
            <label for="cbDeposito">Deposito</label>
            <br>
        </div>
        <div class="form-floating">
            <input type="number" name="numEstante" id="numEstante" class="form-control" value="0">
            <label for="numEstante">Estante:</label>
            <br>
        </div>
        <div class="form-floating">
            <input type="number" name="numEntrepano" id="numEntrepano" class="form-control" value="0">
            <label for="numEntrepano">Entrepaño:</label>
            <br>
        </div>
        <div class="form-floating">
            <input type="number" name="numLocker" id="numLocker" class="form-control" value="0">
            <label for="numLocker">Locker:</label>
            <br>
        </div>
        <div class="form-floating">
            <input type="file" name="Fimagen" id="Fimagen" class="form-control" accept=".jpg">
            <label for="Fimagen">Imagen del producto: (jpg)</label>
        </div>
        <div class="text-center">
            <br>
            <img id="imagenproducto" src="" alt="" width="100" height="100">
        </div>
        <div class="text-center">
            <br>
            <button class="btn btn-success mt.3">Registrar</button>
        </div>
    </form>
    <div>
        {% if mensaje %}
            {% if estado %}
                <script>
                    Swal.fire('Producto', '{{mensaje}}', 'success')
                </script>
        {% else %}
                <script>
                    Swal.fire('Producto', '{{mensaje}}', 'error')
                </script>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{% endblock %}