{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{% endblock %}
{% block menu %}
{% include "administrador/menuAdmin.html" %}
{% endblock %}
{% block contenido %}
<div>
    <form id="frmUsuario" action="/registrarUsuario/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <h3 class="text-center">Registrar Usuario</h3>
        </div>
        <div class="row">
            <div class="form-floating col-4">
                <input type="text" name="txtNombre" id="txtNombre" class="form-control" required>
                <label for="txtNombre">Nombres </label>
                <br>
            </div>
            <div class="form-floating col-4">
                <input type="text" name="txtApellido" id="txtApellido" class="form-control" required>
                <label for="txtApellido">Apellidos </label>
                <br>
            </div>
            <div class="form-floating col-4">
                <input type="text" name="txtCorreo" id="txtCorreo" class="form-control" required>
                <label for="txtCorreo">Correo Electronico </label>
                <br>
            </div>
            <div class="form-floating col-6">
                <select class="form-select" name="cbTipo" id="cbTipo"  required>
                    <option value="0">Seleccione</option>
                    {% for tipo in tipoUsuario %}
                        <option value="{{tipo.0}}">{{tipo.1}}</option>

                    {% endfor %}
                </select>
                <label for="cbCategoria">Tipo </label>
                <br>
            </div>
            <div class="form-floating col-6">
                <select class="form-select" name="cbRol" id="cbRol" required>
                    <option value="0">Seleccione</option>
                    {% for opcion in roles %}
                        <option value="{{opcion.id}}">{{opcion.name}}</option>

                    {% endfor %}
                </select>
                <label for="cbCategoria">Rol en el sistema </label>
                <br>
            </div>
            <div class="form-floating">
                <input type="file" name="Fimagen" id="Fimagen" class="form-control" accept=".jpg">
                <label for="Fimagen">Imagen del producto: (jpg)</label>
            </div>
            <div class="text-center">
                <br>
                <img id="imagenusuario" src="" alt="" width="250" height="250">
            </div>
        </div>
        <div class="text-center">
            <br>
            <button class="btn btn-outline-success mt.3">Registrar</button>
            <a href="/vistagestionarUsuario/"><button type="button"
                class="btn btn-outline-danger mt.3">Cancelar</button></a>
        </div>
    </form>
    <div>
        {% if mensaje %}
            {% if estado %}
                <script>
                    Swal.fire('Usuario', '{{mensaje}}', 'success')
                </script>
        {% else %}
                <script>
                    Swal.fire('Usuario', '{{mensaje}}', 'error')
                </script>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
{% block pie_pagina %}
{% include "pie_pagina.html" %}
{% endblock %}